absl-py==2.1.0
accelerate==0.23.0
aiofiles==23.2.1
altair==5.3.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
attrs==23.2.0
black==21.4b2
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cityscapesScripts==2.2.2
click==8.1.7
cloudpickle==3.0.0
coloredlogs==15.0.1
contourpy==1.2.1
cupy-cuda102==12.3.0
cycler==0.12.1
Cython==3.0.2
deepspeed==0.10.3
detectron2 @ git+https://github.com/MaureenZOU/detectron2-xyz.git@42121d75e10d9f858f3a91b6a39f5722c02868f0
diffdist==0.1
dnspython==2.6.1
docker-pycreds==0.4.0
einops==0.7.0
email_validator==2.1.1
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastrlock==0.8.2
ffmpy==0.3.2
filelock==3.14.0
fonttools==4.51.0
fsspec==2024.5.0
ftfy==6.1.1
future==1.0.0
fvcore==0.1.5.post20221221
gitdb==4.0.11
GitPython==3.1.43
gradio==3.42.0
gradio_client==0.5.0
grpcio==1.64.0
guided-filter-pytorch==3.7.5
h11==0.14.0
hjson==3.1.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.1
humanfriendly==10.0
hydra-core==1.3.2
idna @ file:///croot/idna_1714398848350/work
imageio==2.34.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
infinibatch==0.1.1
iopath==0.1.9
Jinja2==3.1.4
joblib==1.4.2
json-tricks==3.17.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
kornia==0.7.0
lazy_loader==0.4
llvmlite==0.42.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
more-itertools==10.2.0
mpi4py==3.1.5
MultiScaleDeformableAttention==1.0
mup==1.0.0
mypy-extensions==1.0.0
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
numba==0.59.1
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=6094eeedd869502faa0fd0a8c5ad3a70c5779be06ddd1feb7627e5c212fac420
omegaconf==2.3.0
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
opencv-python==4.8.1.78
orjson==3.10.3
packaging==24.0
pandas==2.0.3
pathspec==0.12.1
pathtools==0.1.2
Pillow==9.5.0
portalocker==2.8.2
protobuf==4.25.3
psutil==5.9.8
py-cpuinfo==9.0.0
pyarrow==13.0.0
pycocotools==2.0.7
pydantic==1.10.15
pydot==2.0.0
pydub==0.25.1
Pygments==2.18.0
pyparsing==3.1.2
pyproject-toml==0.0.11
pyquaternion==0.9.9
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyWavelets==1.6.0
PyYAML==6.0.1
referencing==0.35.1
regex==2023.10.3
requests @ file:///croot/requests_1707355572290/work
rich==13.7.1
rpds-py==0.18.1
safetensors==0.4.3
scikit-image==0.21.0
scikit-learn==1.3.1
scipy==1.13.0
seaborn==0.13.2
-e git+https://github.com/IDEA-Research/Grounded-Segment-Anything.git@32d700ac2eacde74854fc6c998fbb4531da392c0#egg=segment_anything&subdirectory=segment_anything
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==2.2.1
setproctitle==1.3.3
Shapely==1.8.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
starlette==0.37.2
tabulate==0.9.0
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.5.10
tiktoken==0.7.0
timm==0.4.12
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tqdm==4.66.4
transformers==4.41.1
triton==2.3.0
typer==0.12.3
typing==3.7.4.3
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.1
ujson==5.10.0
urllib3 @ file:///croot/urllib3_1715635851070/work
uvicorn==0.29.0
uvloop==0.19.0
vision-datasets==0.2.2
wandb==0.15.12
watchfiles==0.21.0
wcwidth==0.2.13
websockets==11.0.3
Werkzeug==3.0.3
yacs==0.1.8
zipp==3.18.2
